---
title: Archives
---
<h2>Archives</h2>
<ul>
  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <li>
      <h2><%= year %></h2>
      <ul>
        <% articles.each do |article| %>
          <li><%= article.date.strftime('%b %e') %> <a href="<%= article.url %>"><%= article.title %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>